<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestorDocumental.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />

    <!--CONEXION DE DESARROLLO BCO POPULAR 30-->
    <!--<add name="GestorDocumentalEnt" connectionString="metadata=res://*/Models.GestorDocuModel.csdl|res://*/Models.GestorDocuModel.ssdl|res://*/Models.GestorDocuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.30;initial catalog=GestorDocumentalBcoPopular;persist security info=True;user id=sa;password=3Ver1sSQL;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalEntities" connectionString="metadata=res://*/Models.GestorDocumentalBD.csdl|res://*/Models.GestorDocumentalBD.ssdl|res://*/Models.GestorDocumentalBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.30;Initial Catalog=GestorDocumentalBcoPopular;Persist Security Info=True;User ID=sa;Password=3Ver1sSQL;Connection Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidades" connectionString="metadata=res://*/Models.GDModel.csdl|res://*/Models.GDModel.ssdl|res://*/Models.GDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.30;initial catalog=GestorDocumentalBcoPopular;persist security info=True;user id=sa;password=3Ver1sSQL;Connection Timeout=0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--CONEXION DESARROLLO BCO POPULAR 76-->
    <!--<add name="GestorDocumentalEnt" connectionString="metadata=res://*/Models.GestorDocuModel.csdl|res://*/Models.GestorDocuModel.ssdl|res://*/Models.GestorDocuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.76;initial catalog=GD_BcoPopularDesarrollo;persist security info=True;user id=AppSmartFile;password=D2saAppSF;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalEntities" connectionString="metadata=res://*/Models.GestorDocumentalBD.csdl|res://*/Models.GestorDocumentalBD.ssdl|res://*/Models.GestorDocumentalBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.76;Initial Catalog=GD_BcoPopularDesarrollo;Persist Security Info=True;User ID=AppSmartFile;Password=D2saAppSF;Connection Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidades" connectionString="metadata=res://*/Models.GDModel.csdl|res://*/Models.GDModel.ssdl|res://*/Models.GDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.76;initial catalog=GD_BcoPopularDesarrollo;persist security info=True;user id=AppSmartFile;password=D2saAppSF;Connection Timeout=0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--CONEXION DESARROLLO BCO POPULAR 76 bd CAPTURA
    
    <add name="GestorDocumentalEnt" connectionString="metadata=res://*/Models.GestorDocuModel.csdl|res://*/Models.GestorDocuModel.ssdl|res://*/Models.GestorDocuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.76;initial catalog=GD_BcoPopularDesarrolloCAPTURA;persist security info=True;user id=AppSmartFile;password=D2saAppSF;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalEntities" connectionString="metadata=res://*/Models.GestorDocumentalBD.csdl|res://*/Models.GestorDocumentalBD.ssdl|res://*/Models.GestorDocumentalBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.76;Initial Catalog=GD_BcoPopularDesarrolloCAPTURA;Persist Security Info=True;User ID=AppSmartFile;Password=D2saAppSF;Connection Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidades" connectionString="metadata=res://*/Models.GDModel.csdl|res://*/Models.GDModel.ssdl|res://*/Models.GDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.76;initial catalog=GD_BcoPopularDesarrolloCAPTURA;persist security info=True;user id=AppSmartFile;password=D2saAppSF;Connection Timeout=0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     -->

    <!--CONEXION QA SMARTFILE BCO PPOPULAR 60-->
    <add name="GestorDocumentalEnt" connectionString="metadata=res://*/Models.GestorDocuModel.csdl|res://*/Models.GestorDocuModel.ssdl|res://*/Models.GestorDocuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.218.8.61;initial catalog=SmartFileBcoPopular;persist security info=True;user id=AppSmartFile;password=D2saAppSF;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalEntities" connectionString="metadata=res://*/Models.GestorDocumentalBD.csdl|res://*/Models.GestorDocumentalBD.ssdl|res://*/Models.GestorDocumentalBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.218.8.61;Initial Catalog=SmartFileBcoPopular;Persist Security Info=True;User ID=AppSmartFile;Password=D2saAppSF;Connection Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidades" connectionString="metadata=res://*/Models.GDModel.csdl|res://*/Models.GDModel.ssdl|res://*/Models.GDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.218.8.61;initial catalog=SmartFileBcoPopular;persist security info=True;user id=AppSmartFile;password=D2saAppSF;Connection Timeout=0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    

    <!--CONEXION DESARROLLO BCO POPULAR 76 bd SmartFileBcoPopular_control
    
    <add name="GestorDocumentalEnt" connectionString="metadata=res://*/Models.GestorDocuModel.csdl|res://*/Models.GestorDocuModel.ssdl|res://*/Models.GestorDocuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.76;initial catalog=SmartFileBcoPopular_control;persist security info=True;user id=AppSmartFile;password=D2saAppSF;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalEntities" connectionString="metadata=res://*/Models.GestorDocumentalBD.csdl|res://*/Models.GestorDocumentalBD.ssdl|res://*/Models.GestorDocumentalBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.76;Initial Catalog=SmartFileBcoPopular_control;Persist Security Info=True;User ID=AppSmartFile;Password=D2saAppSF;Connection Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidades" connectionString="metadata=res://*/Models.GDModel.csdl|res://*/Models.GDModel.ssdl|res://*/Models.GDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.76;initial catalog=SmartFileBcoPopular_control;persist security info=True;user id=AppSmartFile;password=D2saAppSF;Connection Timeout=0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--CONEXION CERTIFICACION BCO POPULAR 76-->
    <!--<add name="GestorDocumentalEnt" connectionString="metadata=res://*/Models.GestorDocuModel.csdl|res://*/Models.GestorDocuModel.ssdl|res://*/Models.GestorDocuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.76;initial catalog=SmartFileBcoPopular;persist security info=True;user id=AppSmartFile;password=D2saAppSF;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalEntities" connectionString="metadata=res://*/Models.GestorDocumentalBD.csdl|res://*/Models.GestorDocumentalBD.ssdl|res://*/Models.GestorDocumentalBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.76;Initial Catalog=SmartFileBcoPopular;Persist Security Info=True;User ID=AppSmartFile;Password=D2saAppSF;Connection Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidades" connectionString="metadata=res://*/Models.GDModel.csdl|res://*/Models.GDModel.ssdl|res://*/Models.GDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.76;initial catalog=SmartFileBcoPopular;persist security info=True;user id=AppSmartFile;password=D2saAppSF;Connection Timeout=0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--CONEXION produccion BCO POPULAR 53 bd smartFile
    <add name="GestorDocumentalEnt" connectionString="metadata=res://*/Models.GestorDocuModel.csdl|res://*/Models.GestorDocuModel.ssdl|res://*/Models.GestorDocuModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLSERVER2012CL\SQLBPO;initial catalog=SmartFileBcoPopular;persist security info=True;user id=everisbpo\AppSmartFile;password=D2saAppSF;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalEntities" connectionString="metadata=res://*/Models.GestorDocumentalBD.csdl|res://*/Models.GestorDocumentalBD.ssdl|res://*/Models.GestorDocumentalBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQLSERVER2012CL\SQLBPO;Initial Catalog=SmartFileBcoPopular;Persist Security Info=True;User ID=everisbpo\AppSmartFile;Password=D2saAppSF;Connection Timeout=0;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entidades" connectionString="metadata=res://*/Models.GDModel.csdl|res://*/Models.GDModel.ssdl|res://*/Models.GDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLSERVER2012CL\SQLBPO;initial catalog=SmartFileBcoPopular;persist security info=True;user id=everisbpo\AppSmartFile;password=D2saAppSF;Connection Timeout=0;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClientFiles" value="../Content/ArchivosCliente" />
    <add key="RutaFacturasPDF" value="C:\Gestor\WebService\ArchivosPDF\" />
    <add key="RutaFacturasXML" value="C:\Gestor\WebService\ArchivosXML\" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="10240" executionTimeout="36000" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.html">
      <error statusCode="404" redirect="~/ErrorPage.html" />
      <error statusCode="500" redirect="~/ErrorPage.html" />
    </customErrors>
    <!--<httpRuntime maxRequestLength="10240" executionTimeout="36000"/>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--LIBRERIAS DEVEXPRESS-->
        <!--LIBRERIAS DEVEXPRESS-->
        <!--LIBRERIAS DEVEXPRESS-->
        <add assembly="DevExpress.Data.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.SpellChecker.v11.2.Core, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxEditors.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxGridView.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPivotGrid.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.PivotGrid.v11.2.Core, Version=11.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Mvc.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <!--LIBRERIAS DEVEXPRESS-->
        <!--LIBRERIAS DEVEXPRESS-->
        <!--LIBRERIAS DEVEXPRESS-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="100" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
        <!--DEVEXPRESS ****************************************-->
        <!--DEVEXPRESS ****************************************-->
        <!--DEVEXPRESS ****************************************-->
        <add namespace="DevExpress.Utils" />
        <add namespace="DevExpress.Web.ASPxClasses" />
        <add namespace="DevExpress.Web.ASPxGridView" />
        <add namespace="DevExpress.Web.ASPxEditors" />
        <add namespace="DevExpress.Web.ASPxCallbackPanel" />
        <add namespace="DevExpress.Web.ASPxMenu" />
        <add namespace="DevExpress.Web.ASPxNavBar" />
        <add namespace="DevExpress.Web.ASPxPopupControl" />
        <add namespace="DevExpress.Web.ASPxRoundPanel" />
        <add namespace="DevExpress.Web.ASPxSplitter" />
        <add namespace="DevExpress.Web.ASPxTabControl" />
        <add namespace="DevExpress.Web.ASPxTreeView" />
        <add namespace="DevExpress.Web.ASPxUploadControl" />
        <add namespace="DevExpress.Web.ASPxHtmlEditor" />
        <add namespace="DevExpress.Web.ASPxSpellChecker" />
        <add namespace="DevExpress.XtraPivotGrid" />
        <add namespace="DevExpress.Web.Mvc" />
        <add namespace="DevExpress.Web.Mvc.UI" />
        <!--DEVEXPRESS ****************************************-->
        <!--DEVEXPRESS ****************************************-->
        <!--DEVEXPRESS ****************************************-->
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
    </httpModules>
    <sessionState timeout="60" />
  </system.web>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.2, Version=11.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <remove name="asset" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <!--<applicationSettings>
    <GestorDocumental.Properties.Settings>
      <setting name="GestorDocumental_wsLogin_SingleSignOn" serializeAs="String">
        <value>http://7.215.8.30:97/SingleSignOn.asmx</value>
      </setting>
    </GestorDocumental.Properties.Settings>
  </applicationSettings>-->
</configuration>