<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GestorDocumentalGNF_PruebasEntities" connectionString="metadata=res://*/GestorDocumentalGNF.csdl|res://*/GestorDocumentalGNF.ssdl|res://*/GestorDocumentalGNF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.31;Initial Catalog=GestorDocumentalGNF;Persist Security Info=True;User ID=backoffice;Password=backoffice;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalGNFEntities" connectionString="metadata=res://*/GestorDocumental.csdl|res://*/GestorDocumental.ssdl|res://*/GestorDocumental.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.31;Initial Catalog=GestorDocumentalGNF;Persist Security Info=True;User ID=backoffice;Password=backoffice;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="GestorDocumentalGNF_PruebasEntities" connectionString="metadata=res://*/GestorDocumentalGNF.csdl|res://*/GestorDocumentalGNF.ssdl|res://*/GestorDocumentalGNF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.30;Initial Catalog=GestorDocumentalGNF_Cert4;Persist Security Info=True;User ID=desarrollo;Password=Colombia20000;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestorDocumentalGNFEntities" connectionString="metadata=res://*/GestorDocumental.csdl|res://*/GestorDocumental.ssdl|res://*/GestorDocumental.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7.215.8.30;Initial Catalog=GestorDocumentalGNF_Cert4;Persist Security Info=True;User ID=desarrollo;Password=Colombia2000;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
</configuration>