<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="GestorTransmisionService.Properties.Settings.GestorDocumentalConnectionString"
            connectionString="Data Source=12.109.8.55;Initial Catalog=GestorDocumental;Persist Security Info=True;User ID=Bizagi;Password=Everis1;Connection Timeout=0"
            providerName="System.Data.SqlClient" />-->

      <add name="GestorTransmisionService.Properties.Settings.GestorDocumentalConnectionString"
            connectionString="Data Source=7.215.8.31;Initial Catalog=GestorDocumentalGNF;Persist Security Info=True;User ID=servicecargue;Password=Tecnologia2014;Connection Timeout=0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>