<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ServiceCopyFile.Properties.Settings.GestorDocumentalConnectionString"
            connectionString="Data Source=12.109.8.55;Initial Catalog=GestorDocumentalGNF;Persist Security Info=True;User ID=Bizagi;Password=Everis1"
            providerName="System.Data.SqlClient" />
      <!--conexion produccion Everis-->
      <!--<add name="ServiceCopyFile.Properties.Settings.GestorDocumentalConnectionString"
            connectionString="Data Source=7.215.101.91;Initial Catalog=GestorDocumental;Persist Security Info=True;User ID=sa;Password=3Ver1sSQL"
            providerName="System.Data.SqlClient" />-->
      <!--CONEXION CF-->
        <!--<add name="ServiceCopyFile.Properties.Settings.GestorDocumentalConnectionString"
            connectionString="Data Source=10.100.120.2;Initial Catalog=GestorDocumentalV1;Persist Security Info=True;User ID=sa;Password=SQLBizagi2012"
            providerName="System.Data.SqlClient" />-->
      <!--CONEXION LOCAL-->
      <!--<add name="ServiceCopyFile.Properties.Settings.GestorDocumentalConnectionString"
            connectionString="Data Source=BOG-JAY791QB005;Initial Catalog=GestorDocumental;Persist Security Info=True;User ID=sa;Password=Colombia2012"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>