<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>     
    </configSections>
  <appSettings>
    <add key="NombreZebraLocal" value="ZDesignerGK420tElena" />
  </appSettings>
    <connectionStrings>
        <add name="ServiceImpresionGNF.Properties.Settings.GestorDocumentalGNFConnectionString"
            connectionString="Data Source=7.215.8.31;Initial Catalog=GestorDocumentalGNF_Pruebas;Persist Security Info=True;User ID=developer;Password=Tecnologia2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>