<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GestorDocumentalModel" connectionString="metadata=res://*/Models.GestorDocumental.csdl|res://*/Models.GestorDocumental.ssdl|res://*/Models.GestorDocumental.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7.215.8.30;initial catalog=GestorDocumentalGNF;persist security info=True;user id=sa;password=3Ver1sSQL;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ActualizarListas.Properties.Settings.GestorDocumentalGNFConnectionString"
      connectionString="Data Source=7.215.8.30;Initial Catalog=GestorDocumentalGNF;Persist Security Info=True;User ID=sa;Password=3Ver1sSQL"
      providerName="System.Data.SqlClient" />
    <add name="ActualizarListas.Properties.Settings.GestorDocumentalGNFConnectionString1"
      connectionString="Data Source=7.215.8.30;Initial Catalog=GestorDocumentalGNF;Persist Security Info=True;User ID=sa;Password=3Ver1sSQL"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>